:root {
  color-scheme: light dark;
}
.header {
    height: 60px;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-color-white), var(--mantine-color-blue-light);
}

.link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: lightblue, var(--mantine-color-gray-7);
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;

    @media (max-width: $mantine-breakpoint-sm) {
        height: 42px;
        width: 100%;
    }

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));

    }


}

.subLink {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-color-dark-7);
    border-radius: var(--mantine-radius-md);

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    }

}
